/* tags */ 
@page {
  size: US-Letter;
  margin: 3cm;
}

body
{
    margin: 0;
    padding: 0;
}

/* classes */
.libadd
{
    position: relative;
    top: 50px;
    left: 55px;
}

.libadd p
{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    font-size: 9pt;
    line-height: 9pt;
    letter-spacing: 0;
}

.libadd p.line1
{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    font-size: 12pt;
    line-height: 12pt;
    font-weight: bold;
}

.footer_page_num
{
    display: none;
}

.header_page_num
{
    display: none;
}

.notice
{
    width: 100%;
}

.page_break
{
    page-break-after: always;
}
