/* tags */

body
{
    font-family: sans-serif;
    font-size: 9pt;
}
table
{
    border: 1px solid black;
    table-layout: fixed;
    width: 100%;
    border-spacing: 0;
	border-collapse: collapse;
}
th
{
    text-decoration: underline;
    font-size: 9pt;
    overflow: hidden;
}
td
{
    font-size: 9pt;
    padding-left: 2pt;
    padding-right: 2pt;
    overflow: hidden;
}

/* classes */

.barcode
{
    font-family: "Free 3 of 9", New;
    font-size: 9pt;
    line-height: 9pt;
    margin-top: 0;
}

.body
{
    clear: both;
}

.borrower_id
{
    margin-top: 36pt;
    font-size: 10pt;
    line-height: 10pt;
    margin-bottom: 0;
}

.check_out
{
    /**/
}

.center
{
    text-align: center;
}

.days_overdue
{
    text-align: center;
}

.disclaimer
{
    width: 175pt;
    float: right;
}

.disclaimer p
{
    font-style: italic;
    text-align: center;
}

.final_notice
{
    color: #CC6600;
}

.footer
{
    /**/
}

.footer_page_num
{
    margin-top: 200px;
}

.generated_date
{
    clear: both;
}

.generated_date p
{
    font-size: 6pt;
    font-style: italic;
}

.greeting
{
    float: left;
    width: 45%;
}

.greeting p.date
{
    font-weight: bold;
}

.header
{
    /**/
}

.header_page_num
{
    /**/
}

.libadd
{
    position: relative;
    top: 50px;
    left: 55px;
}

.libadd p
{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    font-size: 9pt;
    line-height: 9pt;
    letter-spacing: 0;
}

.libadd p.line1
{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    font-size: 12pt;
    line-height: 12pt;
    font-weight: bold;
}

.list
{               
    border: 1px solid black;
    table-layout: fixed;
    width: 100%;
}

th, td {
    border: 1px solid black;
    overflow: visible;
}


.list tr.colored
{
    background-color: #ecefff;
}

.logo
{
    /* */
}

.notice
{
    width: 700px;
}

.footer
{
    /**/
}

.patron
{
    font-size: 12pt;
    width: 45%;
    float: left;
    margin-top: 65pt;
    margin-right: 36pt;
}

.processing_fee
{
    /**/
}

.processing_fee p
{
    color: #ff0000;
    font-weight: bold;
    text-align: center;
    font-size: 10pt;
}

.right
{
    text-align: right;
}
